<!DOCTYPE html>
<html>
  <head>
    <title>NayanPosts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container m-auto p-0">
    <%= yield %>
  </body>
</html>
